#KUQUJIE
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

##静态链接转向动态链接
RewriteRule index.htm index.php [L]
RewriteRule index.html index.php [L]
</IfModule>